.DS_Store

# environment
*.venv/
*.env

# jupyter/py
.ipynb_checkpoints
**/__pycache__/
*.pyc

*.egg-info/
.eggs/

# data 
# data/
*.csv
# *.json
*.txt

# model checkpts 
checkpoints/
*.pt
*.pth
*.ckpt 
